<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="Add">Add Car</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="RemoveCar">Remove</a>
</li>