<!DOCTYPE html>
<html>
    <head>
        <title>Google Maps</title>
    </head>

    <body>
        <p>Телефон:0886223353, 0888835524</p>
        <p>Адрес:Пловдив, с. Труд - Карловско шосе, 500 м след бензиностанция Лукойл посока Карлово</p>
        <p>Работно време от понеделник до събота: 9, 00 ч-18ч! Неделя само с предварителна уговорка!</p>
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.329264565965!2d24.72424751247048!3d42.22765050899034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd299bf430de7%3A0xb7e6a2d0fa4e155f!2z0JLQuNC60YDQuNGBINCQ0YPRgtC-!5e0!3m2!1sen!2sbg!4v1694039614671!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </p>
    </body>


</html>