@{
    ViewData["Title"] = "Home Page";
}
  
<!DOCTYPE html>
<html>
<body>
    <img src="~/css/VikrisAuto.png" class="background-img" alt="Background Image" />
    <div class="content">
        dsadasdsadsa
    </div>
</body>
</html>