@{
    ViewData["Title"] = "Home Page";
}
  
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .background-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .content {
            position: relative;
            z-index: 1;
            /* Add your content styling */
        }
    </style>
</head>
<body>
    <img src="~/css/VikrisAuto.png" class="background-img" alt="Background Image" />
    
    <div class="content">
        <!-- Your content here -->
    </div>
</body>
</html>