html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

/*for background */
/*body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}*/

.background-img {
    margin-left: -8.8%;
    width: 117.55%;
    height: 100%;
    margin-top: -1.5%;
    z-index: -1;
}

.content {  
    z-index: 1; 
}


.navbar-brand {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-brand:hover {
        background-color: #ffffff;
        transform: scale(1.05);
}

.logo-image {
    width: 120px;
    height: auto;
    display: block;
}

.scrollable-container {
    max-height: 650px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 1.2rem;
    margin-top: 10px;
}

.card-body {
    padding: 1px;
}

.card-text {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.card-link {
    text-decoration: none; /* Remove underline for links */
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.2s;
    margin-bottom: 20px; /* Adjust spacing between cards */
}

    .card:hover {
        transform: scale(1.05); /* Add a slight zoom effect on hover */
    }

.card-img-top {
    max-height: 200px; /* Set a maximum height for the card image */
    object-fit: cover; /* Cover the image while maintaining its aspect ratio */
}

.card-title {
    font-size: 1.25rem; /* Increase the font size for the title */
    font-weight: bold; /* Make the title bold */
}

.card-text {
    font-size: 1rem; /* Adjust font size for text */
}


.cardId {
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-bottom: 50px; /* Adjust spacing between cards */
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-image {
    max-width: 100%;
    max-height: 70vh; /* Adjust the height as needed */
}

.enlarged-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px; /* Adjust the spacing as needed */
}

.thumbnail-wrapper {
    cursor: pointer;
}

.thumbnail {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    transition: opacity 0.3s;
}